@font-face{
  font-family: "Archia-medium";
  src: url("./assets/archia-medium-webfont.woff2");
  font-weight: 400;
        font-style: normal;
        font-display: swap;
}
@font-face{
  font-family: "Archia-bold";
  src: url("./assets/archia-semibold-webfont.woff2");
}
* {
  font-family: "Archia-medium";
  
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
  margin: 0;
  font-family: "Archia";
  list-style: none;
  
   
}
#navg{
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    z-index: 99999;
  top: 0;
  position: sticky;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
  background: #fff;
  text-decoration: none !important;
}
.heading{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 22px;
}
.heading-container{
  margin-right: 80px;
}
.heading-container div{
  margin-top: 5px;
}
.fa-bars{
    color: #20bf55 !important;
}
.fa-times{
  color: red !important;
}
.title{
    margin-left: 20px;
    margin-top: 4px;
    font-size: 18px;
    cursor: pointer;
    text-transform: uppercase;
}
.textcolor{
 background-color #20bf55;
background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navg_link_list a{
 cursor: pointer;
   font-weight: 400;
   color: #6c757d; 
}
.navg_link_list{
  cursor: pointer;
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    margin-top: 6px;
   font-weight: 400;
   color: #6c757d;
}
.navg_link_list div:hover{
  background: #28a74520;
  color: #28a745;
}
.navg_link_list div{
    margin-left: 10px;
    padding: 3px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggleButton {
   display: none;
  }
.toggleButton i{
    margin-top: 2.5px;
    font-size: 18px;
}
.mobile_view div{
    margin-top: 14px;
}
.mobile_view{
  position: fixed;
    top: 9%;
    right: -100%;
    transition: all 0.5s;
      
}
#second_row{
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel_slide{
  margin-top: 50px;
  height: 300px;
  width: 300px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
#owl_img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.mobile_view_link:hover{
   background: #28a74520;
  color: #28a745;
}
.material_heading{
  margin-left: 15px;
  margin-top: 10px;
  background-color: #3bb78f;
background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
}
.material_scroll_container{
 overflow-x: scroll;
 overflow-y: hidden;
 white-space: nowrap;
 margin-top: 5px;
 margin-left: 10px;
}
.material_scroll_container::-webkit-scrollbar{
  display: none;
}
.material_shop_container{
  display: inline-block;
  height: 255px;
  width: 190px;
  overflow: hidden;
  margin-left: 10px;
  border-radius: 8px;
  position: relative;
  transition: all 0.7s;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.offer{
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 15px;
   background: #28a74540;
  color: #28a741;
  height: 55px;
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 9999;
}
.material_shop_container:hover{
  transform: scale(1.04);
}
.material_img_container{
  height: 50%;
}
.material_img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.material_footer{
  height: 50%;
  font-size: 17px;
  position: relative;
}
.material_name{
  font-size: 16px;
  margin-top: 3px;
  margin-left: 8px;
}
.material_price{
  font-size: 17px;
  margin-top: 3px;
  margin-left: 8px;
}
.kg{
  font-size: 17px;
   color: #cdcdcd;
   font-weight: 200;
  margin-top: 3px;
  margin-left: 8px;
}
.linethrough{
   
  margin-left: 2px;
  color: #cdcdcd;
  text-decoration: line-through;
}
.orginal_price{
}
.buy_container{
  width: 100%;
  display: flex;
  justify-content: center;
}
.buy{
  margin-top: 5px;
  outline: none;
  border: none;
  background: #28a74530;
  color: #28a745;
  cursor: pointer;
  border-radius: 2px;
  transition: all 0.5s;
}
.buy:hover{
  transform: scale(1.05);
  background: #28a74540;
  
}
.footers{
 background: #28a74530;
  color: #28a745;
  font-size: 12px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 20%;
  flex-direction: column;
}
.footer_input{
  margin-top: 5px;
}
.footer_input_container{
  margin-top: 5px;
}
.footer_input_container input{
  height: 20px;
}
.footer_input_container button{
 background: #ffffff;
  color: #28a745;
 border: none;
 outline:none;
}

@media screen and (max-width: 768px)
{
  .material_shop_container{
    width: 150px;
  }
  .carousel_slide{
    height: 220px;
    width: 240px;
  }
  .title{
    margin-top: 7px;
    font-size: 17px;
  }
  .heading-container{
    margin-top: 30px;
    margin-right: 10px;
  }
    .navg_link_list{
        display: none;
    }
    .show {
         font-size: 14px;
    font-weight: 300;
   
    position: fixed;
    top: 9%;
    right: 0;
    background: #fff;
    height: 50%;
    width: 45%;
    padding: 2rem;
    transition: all 0.1s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
    z-index: 9999;
    text-decoration: none !important;
  }
  .toggleButton{
    margin-top: 5px;
    margin-right: 10px;
    display: block;
    text-align: center;
    height: 26px;
    width: 26px;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 7px;
    outline: none;
    border: none;
    background: #28a74520;
  }
}